# Dependencies
**/node_modules
frontend/node_modules
backend/node_modules

# Production build
frontend/dist
frontend/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Testing
/coverage

# Misc
.DS_Store
Thumbs.db 
sui/build/sui_contract/sources/dependencies/MoveStdlib/address.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/ascii.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/bcs.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/bit_vector.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/debug.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/fixed_point32.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/hash.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/macros.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/option.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/string.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/type_name.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/u8.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/u16.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/u32.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/u64.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/u128.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/u256.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/uq32_32.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/uq64_64.move
sui/build/sui_contract/sources/dependencies/MoveStdlib/vector.move
sui/build/sui_contract/sources/dependencies/Sui/address.move
sui/build/sui_contract/sources/dependencies/Sui/authenticator_state.move
sui/build/sui_contract/sources/dependencies/Sui/bag.move
sui/build/sui_contract/sources/dependencies/Sui/balance.move
sui/build/sui_contract/sources/dependencies/Sui/bcs.move
sui/build/sui_contract/sources/dependencies/Sui/bls12381.move
sui/build/sui_contract/sources/dependencies/Sui/borrow.move
sui/build/sui_contract/sources/dependencies/Sui/clock.move
sui/build/sui_contract/sources/dependencies/Sui/coin.move
sui/build/sui_contract/sources/dependencies/Sui/config.move
sui/build/sui_contract/sources/dependencies/Sui/deny_list.move
sui/build/sui_contract/sources/dependencies/Sui/display.move
sui/build/sui_contract/sources/dependencies/Sui/dynamic_field.move
sui/build/sui_contract/sources/dependencies/Sui/dynamic_object_field.move
sui/build/sui_contract/sources/dependencies/Sui/ecdsa_k1.move
sui/build/sui_contract/sources/dependencies/Sui/ecdsa_r1.move
sui/build/sui_contract/sources/dependencies/Sui/ecvrf.move
sui/build/sui_contract/sources/dependencies/Sui/ed25519.move
sui/build/sui_contract/sources/dependencies/Sui/event.move
sui/build/sui_contract/sources/dependencies/Sui/groth16.move
sui/build/sui_contract/sources/dependencies/Sui/group_ops.move
sui/build/sui_contract/sources/dependencies/Sui/hash.move
sui/build/sui_contract/sources/dependencies/Sui/hex.move
sui/build/sui_contract/sources/dependencies/Sui/hmac.move
sui/build/sui_contract/sources/dependencies/Sui/kiosk_extension.move
sui/build/sui_contract/sources/dependencies/Sui/kiosk.move
sui/build/sui_contract/sources/dependencies/Sui/linked_table.move
sui/build/sui_contract/sources/dependencies/Sui/math.move
sui/build/sui_contract/sources/dependencies/Sui/object_bag.move
sui/build/sui_contract/sources/dependencies/Sui/object_table.move
sui/build/sui_contract/sources/dependencies/Sui/object.move
sui/build/sui_contract/sources/dependencies/Sui/package.move
sui/build/sui_contract/sources/dependencies/Sui/pay.move
sui/build/sui_contract/sources/dependencies/Sui/poseidon.move
sui/build/sui_contract/sources/dependencies/Sui/priority_queue.move
sui/build/sui_contract/sources/dependencies/Sui/prover.move
sui/build/sui_contract/sources/dependencies/Sui/random.move
sui/build/sui_contract/sources/dependencies/Sui/sui.move
sui/build/sui_contract/sources/dependencies/Sui/table_vec.move
sui/build/sui_contract/sources/dependencies/Sui/table.move
sui/build/sui_contract/sources/dependencies/Sui/token.move
sui/build/sui_contract/sources/dependencies/Sui/transfer_policy.move
sui/build/sui_contract/sources/dependencies/Sui/transfer.move
sui/build/sui_contract/sources/dependencies/Sui/tx_context.move
sui/build/sui_contract/sources/dependencies/Sui/types.move
sui/build/sui_contract/sources/dependencies/Sui/url.move
sui/build/sui_contract/sources/dependencies/Sui/vdf.move
sui/build/sui_contract/sources/dependencies/Sui/vec_map.move
sui/build/sui_contract/sources/dependencies/Sui/vec_set.move
sui/build/sui_contract/sources/dependencies/Sui/versioned.move
sui/build/sui_contract/sources/dependencies/Sui/zklogin_verified_id.move
sui/build/sui_contract/sources/dependencies/Sui/zklogin_verified_issuer.move
sui/build/sui_contract/source_maps/IBT.json
sui/build/sui_contract/source_maps/IBT.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/address.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/address.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/ascii.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/ascii.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/bcs.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/bcs.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/bit_vector.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/bit_vector.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/debug.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/debug.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/fixed_point32.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/fixed_point32.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/hash.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/hash.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/macros.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/macros.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/option.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/option.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/string.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/string.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/type_name.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/type_name.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u8.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u8.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u16.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u16.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u32.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u32.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u64.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u64.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u128.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u128.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u256.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/u256.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/uq32_32.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/uq32_32.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/uq64_64.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/uq64_64.mvsm
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/vector.json
sui/build/sui_contract/source_maps/dependencies/MoveStdlib/vector.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/address.json
sui/build/sui_contract/source_maps/dependencies/Sui/address.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/authenticator_state.json
sui/build/sui_contract/source_maps/dependencies/Sui/authenticator_state.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/bag.json
sui/build/sui_contract/source_maps/dependencies/Sui/bag.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/balance.json
sui/build/sui_contract/source_maps/dependencies/Sui/balance.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/bcs.json
sui/build/sui_contract/source_maps/dependencies/Sui/bcs.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/bls12381.json
sui/build/sui_contract/source_maps/dependencies/Sui/bls12381.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/borrow.json
sui/build/sui_contract/source_maps/dependencies/Sui/borrow.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/clock.json
sui/build/sui_contract/source_maps/dependencies/Sui/clock.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/coin.json
sui/build/sui_contract/source_maps/dependencies/Sui/coin.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/config.json
sui/build/sui_contract/source_maps/dependencies/Sui/config.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/deny_list.json
sui/build/sui_contract/source_maps/dependencies/Sui/deny_list.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/display.json
sui/build/sui_contract/source_maps/dependencies/Sui/display.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/dynamic_field.json
sui/build/sui_contract/source_maps/dependencies/Sui/dynamic_field.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/dynamic_object_field.json
sui/build/sui_contract/source_maps/dependencies/Sui/dynamic_object_field.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/ecdsa_k1.json
sui/build/sui_contract/source_maps/dependencies/Sui/ecdsa_k1.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/ecdsa_r1.json
sui/build/sui_contract/source_maps/dependencies/Sui/ecdsa_r1.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/ecvrf.json
sui/build/sui_contract/source_maps/dependencies/Sui/ecvrf.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/ed25519.json
sui/build/sui_contract/source_maps/dependencies/Sui/ed25519.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/event.json
sui/build/sui_contract/source_maps/dependencies/Sui/event.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/groth16.json
sui/build/sui_contract/source_maps/dependencies/Sui/groth16.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/group_ops.json
sui/build/sui_contract/source_maps/dependencies/Sui/group_ops.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/hash.json
sui/build/sui_contract/source_maps/dependencies/Sui/hash.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/hex.json
sui/build/sui_contract/source_maps/dependencies/Sui/hex.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/hmac.json
sui/build/sui_contract/source_maps/dependencies/Sui/hmac.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/kiosk_extension.json
sui/build/sui_contract/source_maps/dependencies/Sui/kiosk_extension.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/kiosk.json
sui/build/sui_contract/source_maps/dependencies/Sui/kiosk.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/linked_table.json
sui/build/sui_contract/source_maps/dependencies/Sui/linked_table.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/math.json
sui/build/sui_contract/source_maps/dependencies/Sui/math.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/object_bag.json
sui/build/sui_contract/source_maps/dependencies/Sui/object_bag.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/object_table.json
sui/build/sui_contract/source_maps/dependencies/Sui/object_table.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/object.json
sui/build/sui_contract/source_maps/dependencies/Sui/object.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/package.json
sui/build/sui_contract/source_maps/dependencies/Sui/package.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/pay.json
sui/build/sui_contract/source_maps/dependencies/Sui/pay.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/poseidon.json
sui/build/sui_contract/source_maps/dependencies/Sui/poseidon.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/priority_queue.json
sui/build/sui_contract/source_maps/dependencies/Sui/priority_queue.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/prover.json
sui/build/sui_contract/source_maps/dependencies/Sui/prover.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/random.json
sui/build/sui_contract/source_maps/dependencies/Sui/random.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/sui.json
sui/build/sui_contract/source_maps/dependencies/Sui/sui.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/table_vec.json
sui/build/sui_contract/source_maps/dependencies/Sui/table_vec.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/table.json
sui/build/sui_contract/source_maps/dependencies/Sui/table.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/token.json
sui/build/sui_contract/source_maps/dependencies/Sui/token.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/transfer_policy.json
sui/build/sui_contract/source_maps/dependencies/Sui/transfer_policy.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/transfer.json
sui/build/sui_contract/source_maps/dependencies/Sui/transfer.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/tx_context.json
sui/build/sui_contract/source_maps/dependencies/Sui/tx_context.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/types.json
sui/build/sui_contract/source_maps/dependencies/Sui/types.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/url.json
sui/build/sui_contract/source_maps/dependencies/Sui/url.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/vdf.json
sui/build/sui_contract/source_maps/dependencies/Sui/vdf.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/vec_map.json
sui/build/sui_contract/source_maps/dependencies/Sui/vec_map.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/vec_set.json
sui/build/sui_contract/source_maps/dependencies/Sui/vec_set.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/versioned.json
sui/build/sui_contract/source_maps/dependencies/Sui/versioned.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/zklogin_verified_id.json
sui/build/sui_contract/source_maps/dependencies/Sui/zklogin_verified_id.mvsm
sui/build/sui_contract/source_maps/dependencies/Sui/zklogin_verified_issuer.json
sui/build/sui_contract/source_maps/dependencies/Sui/zklogin_verified_issuer.mvsm
sui/build/sui_contract/bytecode_modules/IBT.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/address.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/ascii.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/bcs.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/bit_vector.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/debug.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/fixed_point32.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/hash.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/macros.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/option.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/string.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/type_name.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/u8.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/u16.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/u32.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/u64.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/u128.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/u256.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/uq32_32.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/uq64_64.mv
sui/build/sui_contract/bytecode_modules/dependencies/MoveStdlib/vector.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/address.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/authenticator_state.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/bag.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/balance.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/bcs.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/bls12381.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/borrow.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/clock.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/coin.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/config.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/deny_list.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/display.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/dynamic_field.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/dynamic_object_field.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/ecdsa_k1.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/ecdsa_r1.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/ecvrf.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/ed25519.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/event.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/groth16.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/group_ops.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/hash.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/hex.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/hmac.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/kiosk_extension.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/kiosk.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/linked_table.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/math.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/object_bag.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/object_table.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/object.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/package.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/pay.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/poseidon.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/priority_queue.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/prover.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/random.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/sui.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/table_vec.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/table.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/token.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/transfer_policy.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/transfer.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/tx_context.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/types.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/url.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/vdf.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/vec_map.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/vec_set.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/versioned.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/zklogin_verified_id.mv
sui/build/sui_contract/bytecode_modules/dependencies/Sui/zklogin_verified_issuer.mv
backend/.env
backend/.env
backend/.env
backend/.env
